@{
    ViewBag.Title = "RegisterIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model StaffMeals.Entities.Client
<div class="page_title_box">
    <div class="page_title"></div>
</div>
<div id="registration" class="enter_form" style="display: block !important">

    <div class="modal_form_title">Регистрация</div>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div>@(Session["Register"] != null ? (string)Session["Register"] : "")</div>               
                <h5>ФИО</h5>
        @Html.TextBoxFor(m => m.Fio, new { @class = "enter_input email" })
      
        <br />
        <h5>Логин</h5>
        @Html.TextBoxFor(m => m.Login, new { @class = "enter_input email" })
      
        <br />
        <h5>Пароль</h5>
        @Html.PasswordFor(m => m.Password, new { @class = "enter_input email" })
       
        <br />
        <br />
        <input type="submit"style="width:140px; background:border-box; background-color:greenyellow;height:25px" value="Зарегистрироваться" />
    }

</div>
